
<!DOCTYPE html>
<html lang="en">
<head>
  <!--
  Hello, source reader! reddit is mostly open source, and we have many repositories we're proud of at https://www.github.com/reddit.
  Sadly, this one isn't one of those. I'd highly suggest you go check out the code over there if you're excited about us!
  -->
	<meta charset="utf-8" />

	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

	<title>Reddit</title>

	<link rel="shortcut icon" type="image/x-icon" href="/css/images/favicon.ico" />

	<!-- Vendor Styles -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,900italic,900,700italic,700,500,500italic,400italic,300italic,300,100italic,100">

	<!-- App Styles -->
	<link rel="stylesheet" href="/css/style.css" />

	<!-- Vendor JS -->
  <script src="/vendor/underscore-1.8.3.min.js"></script>
	<script src="/vendor/jquery-1.11.3.min.js"></script>

	<!-- App JS -->
	<script src="/js/functions.js"></script>
</head>

<body class="careers needs-greenhouse">
<div class="wrapper">
  <header class="header">
    <div class="shell">
      <a href="/" class="header-logo">
        <i class="ico-logo"></i>
      </a>

      <a href="#" class="btn-nav">
        <span></span>
      </a>

      <nav class="nav">
        <ul>
          <li class="nav-about">
            <a href="/">About</a>
          </li>

          <li class="nav-careers">
            <a href="/careers/">Careers</a>
          </li>

          <li class="nav-engineering">
            <a href="/engineering/">Engineering</a>
          </li>

          <li class="nav-advertising">
            <a href="/advertise/">Advertise</a>
          </li>

          <li class="nav-publishers">
            <a href="/publishers/">Publishers</a>
          </li>

          <li class="nav-press">
            <a href="/press/">Press</a>
          </li>

          <li class="nav-blog">
            <a href="http://www.redditblog.com">Blog</a>
          </li>
        </ul>
      </nav><!-- /.nav -->
    </div><!-- /.shell -->
  </header><!-- /.header -->
</div>


    <section class="section-hero" style="background-image: url(/css/images/temp/hero-careers@2x.jpg);">
        <div class="section-content">
            <div class="shell">
                <h1 class="section-title">
                    <span>Find your community</span>
                </h1><!-- /.section-title -->
            </div><!-- /.shell -->
        </div><!-- /.section-content -->
    </section><!-- /.section-hero -->

    <section class="section-looking-for">
        <div class="shell">
            <div class="section-image">
                <img src="/css/images/temp/section-looking-for@2x.jpg" alt="" width="380" height="265">
            </div><!-- /.section-image -->

            <div class="section-content">
                <h2 class="section-title">Get to know us</h2><!-- /.section-title -->

                <div class="section-entry">
                    <p>At Reddit, you'll help build something that encourages millions around the world to think more, do more, learn more, feel more&mdash;and maybe even laugh more.</p>

                    <p>We believe in community, human potential, and dialogue. We’re seeking independent, forward-thinkers to join our San Francisco, Los Angeles, and Manhattan offices.</p>

                    <p>Become a part of a dynamic team that is working towards one common goal: creating the best community site on the internet and beyond.
                    </p>

                    <p>Let's make Reddit even better.</p>
                </div><!-- /.section-entry -->
            </div><!-- /.section-content -->
        </div><!-- /.shell -->
    </section><!-- /.section-looking-for -->

    <section class="section-life-at" style="background-image: url(/css/images/temp/section-life@2x.jpg); ">
        <div class="shell">
            <div class="section-content">
                <h2 class="section-title">Life at Reddit</h2><!-- /.section-title -->

                <div class="section-entry">
                    <p>When you are supported by your employer, you are able to do your best work and achieve your career—and life—goals.</p>

                    <p>We offer unlimited vacation days, four month parental leave, education and pet care stipends, employer-paid health benefits, free meals, childcare support, and much more.</p>
                </div><!-- /.section-entry -->
            </div><!-- /.section-content -->
        </div><!-- /.shell -->
    </section><!-- /.section-life-at -->

    <section class="section-hiring">
        <div class="shell">
            <header class="section-head">
                <h1 class="section-title">We&rsquo;re Hiring!</h1><!-- /.section-title -->

                <div class="section-entry">
                    <p>Don't see what you’re looking for?</p>

                    <p>Let us know what you’re thinking: <a href="mailto:jobs@reddit.com">jobs@reddit.com</a></p>
                </div><!-- /.section-entry -->
            </header><!-- /.section-head -->

            <div class="section-body">
                <ul class="departments">
          <!-- to be populated via greenhouse, see departmentSummaryTemplate in footer -->
                </ul><!-- /.departments -->

                <div class="jobs-groups">
          <!-- to be populated via greenhouse, see jobGroupTemplate in footer -->
                </div><!-- /.jobs-groups -->
            </div><!-- /.section-body -->
        </div><!-- /.shell -->
    </section><!-- /.section-hiring -->

	<footer class="footer">
		<div class="shell">
			<div class="footer-body">
				<div class="footer-main">
					<ul class="footer-links">
						<li>
							<ul>
								<li>
									<a href="/">About</a>
								</li>

								<li>
									<a href="/careers/">Careers</a>
								</li>

                <li>
                  <a href="/engineering/">Engineering</a>
                </li>

								<li>
									<a href="/advertise/">Advertise</a>
								</li>

                <li>
                  <a href="/publishers/">Publishers</a>
                </li>
							</ul>
						</li>

						<li>
							<ul>
                <li>
                  <a href="/press/">Press</a>
                </li>

								<li>
									<a href="http://www.redditblog.com">Blog</a>
								</li>
                
								<li>
									<a href="https://www.reddit.com/api">Developers</a>
								</li>

								<li>
									<a href="https://reddit.zendesk.com">Help</a>
								</li>
							</ul>
						</li>

						<li>
							<ul>
								<li>
									<a class="reddit-app-link" href="https://www.reddit.com/mobile/download">Get the Reddit App</a>
								</li>

                <li>
                  <a href="https://www.reddit.com/">Reddit.com</a>
                </li>

                <li>
                  <a href="https://www.reddit.com/gold">Reddit Gold</a>
                </li>

                <li>
                  <a href="https://www.redditgifts.com">Reddit Gifts</a>
                </li>

							</ul>
						</li>
					</ul><!-- /.footer-links -->
				</div><!-- /.footer-main -->

				<div class="footer-aside">
					<div class="socials">
						<h5>Follow Reddit:</h5>

						<ul>
							<li>
								<a href="https://www.facebook.com/reddit">
									<i class="ico-facebook"></i>
								</a>
							</li>

							<li>
								<a href="https://www.twitter.com/reddit">
									<i class="ico-twitter"></i>
								</a>
							</li>

							<li>
								<a href="https://www.instagram.com/reddit">
									<i class="ico-instagram"></i>
								</a>
							</li>
						</ul>
					</div><!-- /.socials -->
					<div class="subscribe">
						<h5>Get Reddit in your inbox weekly:</h5>

						<div class="subscribe-inner">
							<form action="http://reddit.createsend.com/t/i/s/jyydlh/" method="post">
								<label for="mail" class="hidden">Email</label>

								<input type="email" id="mail" name="cm-jyydlh-jyydlh" value="" placeholder="email address" class="subscribe-field">

								<input type="submit" value="Subscribe" class="subscribe-btn btn">
							</form>
						</div><!-- /.subscribe-inner -->
					</div><!-- /.subscribe -->
				</div><!-- /.footer-aside -->
			</div><!-- /.footer-body -->

			<div class="footer-bar">
				<ul>
					<li>
						<a href="https://www.reddit.com/help/contentpolicy">Content Policy</a>
					</li>

					<li>
						<a href="https://www.reddit.com/help/privacypolicy">Privacy Policy</a>
					</li>

					<li>
						<a href="https://www.reddit.com/help/useragreement">User Agreement</a>
					</li>

					<li>&copy; 2016 reddit, inc. All rights reserved.</li>
				</ul>
			</div><!-- /.footer-bar -->
		</div><!-- /.shell -->
	</footer><!-- /.footer -->
</div><!-- /.wrapper -->

<script type="text/html" id="departmentSummaryTemplate">
  <li class="department">
    <a href="#jobs-<%- id %>" class="department-inner">
      <h5 class="department-name"><%- name %></h5>

      <div class="department-positions"><span class="department-count"><%- jobs.length %></span><span class="department-positions-text"> Position<%- jobs.length != 1 ? 's' : '' %></span></div>
    </a>
  </li><!-- /.department -->
</script>

<script type="text/html" id="jobGroupTemplate">
  <div class="jobs-group" id="jobs-<%- id %>" data-department-name="<%- name %>">
    <h3 class="jobs-group-title"><%- name %></h3><!-- /.jobs-group-title -->

    <ul class="jobs-listings">
      <% _.each(jobs, function(job) { %>
      <li class="jobs-listing">
        <h5><a href="<%- job.absolute_url %>"><%- job.title %></a></h5>

        <p><%- job.location.name %></p>

        <a class="apply" href="<%- job.absolute_url %>">
          <span>Apply</span>

          <i class="ico-arrow-right"></i>
        </a>
      </li><!-- /.jobs-listing -->
      <% }) %>
    </ul><!-- /.jobs-listings -->
  </div><!-- /.jobs-group -->
</script>          

</body>
</html>

