
<!DOCTYPE html>
<html lang="en">
<head>
  <!--
  Hello, source reader! reddit is mostly open source, and we have many repositories we're proud of at https://www.github.com/reddit.
  Sadly, this one isn't one of those. I'd highly suggest you go check out the code over there if you're excited about us!
  -->
	<meta charset="utf-8" />

	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

	<title>Reddit</title>

	<link rel="shortcut icon" type="image/x-icon" href="/css/images/favicon.ico" />

	<!-- Vendor Styles -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,900italic,900,700italic,700,500,500italic,400italic,300italic,300,100italic,100">

	<!-- App Styles -->
	<link rel="stylesheet" href="/css/style.css" />

	<!-- Vendor JS -->
  <script src="/vendor/underscore-1.8.3.min.js"></script>
	<script src="/vendor/jquery-1.11.3.min.js"></script>

	<!-- App JS -->
	<script src="/js/functions.js"></script>
</head>

<body class="about">
<div class="wrapper">
  <header class="header">
    <div class="shell">
      <a href="/" class="header-logo">
        <i class="ico-logo"></i>
      </a>

      <a href="#" class="btn-nav">
        <span></span>
      </a>

      <nav class="nav">
        <ul>
          <li class="nav-about">
            <a href="/">About</a>
          </li>

          <li class="nav-careers">
            <a href="/careers/">Careers</a>
          </li>

          <li class="nav-engineering">
            <a href="/engineering/">Engineering</a>
          </li>

          <li class="nav-advertising">
            <a href="/advertise/">Advertise</a>
          </li>

          <li class="nav-publishers">
            <a href="/publishers/">Publishers</a>
          </li>

          <li class="nav-press">
            <a href="/press/">Press</a>
          </li>

          <li class="nav-blog">
            <a href="http://www.redditblog.com">Blog</a>
          </li>
        </ul>
      </nav><!-- /.nav -->
    </div><!-- /.shell -->
  </header><!-- /.header -->
</div>


    <section class="section-hero" style="background-image: url(/css/images/temp/hero-home@2x.jpg);">
        <div class="section-content">
            <div class="shell">
                <h1 class="section-title">
                    <span>The conversation starts on Reddit</span>
                </h1><!-- /.section-title -->
            </div><!-- /.shell -->
        </div><!-- /.section-content -->
    </section><!-- /.section-hero -->

    <section class="section-features">
        <div class="shell">
            <header class="section-head">
                <h2 class="section-title">Reddit bridges communities and individuals with ideas, the latest digital trends, and breaking news (...okay, and maybe cats). Our mission is to help people discover places where they can be their true selves, and empower our community to flourish.</h2><!-- /.section-title -->
            </header><!-- /.section-head -->

            <div class="section-body">
                <ul class="features">
                    <li class="feature">
                        <div class="feature-image">
                            <img src="/css/images/temp/feature-post.gif" alt="" width="300" height="300">
                        </div><!-- /.feature-image -->

                        <h2 class="feature-title">Share</h2><!-- /.feature-title -->

                        <div class="feature-entry">
                            <p>Anyone can create a community on nearly any topic imaginable. Each community is independently moderated by volunteer users. Community members can share content including stories, links, and images.</p>
                        </div><!-- /.feature-entry -->
                    </li><!-- /.feature -->

                    <li class="feature">
                        <div class="feature-image">
                            <img src="/css/images/temp/feature-vote.gif" alt="" width="300" height="300">
                        </div><!-- /.feature-image -->

                        <h2 class="feature-title">Vote</h2><!-- /.feature-title -->

                        <div class="feature-entry">
                            <p>The global Reddit community votes on which stories and discussions are important by casting upvotes or downvotes. The most interesting, funniest, impactful, or simply amazing stories rise to the top.</p>
                        </div><!-- /.feature-entry -->
                    </li><!-- /.feature -->

                    <li class="feature">
                        <div class="feature-image">
                            <img src="/css/images/temp/feature-comment.gif" alt="" width="300" height="300">
                        </div><!-- /.feature-image -->

                        <h2 class="feature-title">Discuss</h2><!-- /.feature-title -->

                        <div class="feature-entry">
                            <p>Redditors can comment on any post on Reddit. Comments are often the best part about Reddit content—they provide additional information, vigorous discussion, context, and often humor.</p>
                        </div><!-- /.feature-entry -->
                    </li><!-- /.feature -->
                </ul><!-- /.features -->
            </div><!-- /.section-body -->
        </div><!-- /.shell -->
    </section><!-- /.section-features -->

    <section class="section-directions">
        <div class="shell">
            <div class="section-body">
                <div class="section-image">
                    <img src="/css/images/temp/section-directions@2x.jpg" alt="" width="458" height="640">
                </div><!-- /.section-image -->

                <div class="section-content">
                    <h2 class="section-title">At Reddit, we have a few simple values that help us stay true to our mission.</h2><!-- /.section-title -->

                    <ul class="list-directions">
                        <li>
                            <h2>Remember the human</h2>

                            <p>Our actions affect real people and communities, so do the right thing—even when it’s difficult.</p>
                        </li>

                        <li>
                            <h2>Evolve</h2>

                            <p>Move forward and grow together. Be optimistic about our future. Know that change is necessary for us to progress.</p>
                        </li>

                        <li>
                            <h2>What would Snoo do?</h2>

                            <p>Snoo isn’t an asshole. Snoo likes to enjoy a good time. Snoo is humble. Snoo is kind. Snoo has high integrity. Snoo delivers.</p>
                        </li>
                    </ul><!-- /.list-directions -->
                </div><!-- /.section-content -->
            </div><!-- /.section-body -->
        </div><!-- /.shell -->
    </section><!-- /.section-directions -->

    <section class="section-building">
        <div class="shell">
            <h2 class="section-title">We spend our days building Reddit</h2><!-- /.section-title -->

            <div class="section-image">
                <img src="/css/images/temp/building-reddit@2x.png" alt="">
            </div><!-- /.section-image -->
        </div><!-- /.shell -->
    </section><!-- /.section-building -->

    <div class="callout" style="background-image: url(/css/images/temp/callout-image@2x.jpg);">
        <div class="shell">
            <div class="callout-content">
                <h1 class="callout-title">We&rsquo;re Hiring!</h1><!-- /.callout-title -->

                <div class="callout-actions">
                    <a href="/careers" class="btn btn-block">JOIN US</a>
                </div><!-- /.callout-actions -->
            </div><!-- /.callout-content -->
        </div><!-- /.shell -->
    </div><!-- /.callout -->

	<footer class="footer">
		<div class="shell">
			<div class="footer-body">
				<div class="footer-main">
					<ul class="footer-links">
						<li>
							<ul>
								<li>
									<a href="/">About</a>
								</li>

								<li>
									<a href="/careers/">Careers</a>
								</li>

                <li>
                  <a href="/engineering/">Engineering</a>
                </li>

								<li>
									<a href="/advertise/">Advertise</a>
								</li>

                <li>
                  <a href="/publishers/">Publishers</a>
                </li>
							</ul>
						</li>

						<li>
							<ul>
                <li>
                  <a href="/press/">Press</a>
                </li>

								<li>
									<a href="http://www.redditblog.com">Blog</a>
								</li>
                
								<li>
									<a href="https://www.reddit.com/api">Developers</a>
								</li>

								<li>
									<a href="https://reddit.zendesk.com">Help</a>
								</li>
							</ul>
						</li>

						<li>
							<ul>
								<li>
									<a class="reddit-app-link" href="https://www.reddit.com/mobile/download">Get the Reddit App</a>
								</li>

                <li>
                  <a href="https://www.reddit.com/">Reddit.com</a>
                </li>

                <li>
                  <a href="https://www.reddit.com/gold">Reddit Gold</a>
                </li>

                <li>
                  <a href="https://www.redditgifts.com">Reddit Gifts</a>
                </li>

							</ul>
						</li>
					</ul><!-- /.footer-links -->
				</div><!-- /.footer-main -->

				<div class="footer-aside">
					<div class="socials">
						<h5>Follow Reddit:</h5>

						<ul>
							<li>
								<a href="https://www.facebook.com/reddit">
									<i class="ico-facebook"></i>
								</a>
							</li>

							<li>
								<a href="https://www.twitter.com/reddit">
									<i class="ico-twitter"></i>
								</a>
							</li>

							<li>
								<a href="https://www.instagram.com/reddit">
									<i class="ico-instagram"></i>
								</a>
							</li>
						</ul>
					</div><!-- /.socials -->
					<div class="subscribe">
						<h5>Get Reddit in your inbox weekly:</h5>

						<div class="subscribe-inner">
							<form action="http://reddit.createsend.com/t/i/s/jyydlh/" method="post">
								<label for="mail" class="hidden">Email</label>

								<input type="email" id="mail" name="cm-jyydlh-jyydlh" value="" placeholder="email address" class="subscribe-field">

								<input type="submit" value="Subscribe" class="subscribe-btn btn">
							</form>
						</div><!-- /.subscribe-inner -->
					</div><!-- /.subscribe -->
				</div><!-- /.footer-aside -->
			</div><!-- /.footer-body -->

			<div class="footer-bar">
				<ul>
					<li>
						<a href="https://www.reddit.com/help/contentpolicy">Content Policy</a>
					</li>

					<li>
						<a href="https://www.reddit.com/help/privacypolicy">Privacy Policy</a>
					</li>

					<li>
						<a href="https://www.reddit.com/help/useragreement">User Agreement</a>
					</li>

					<li>&copy; 2016 reddit, inc. All rights reserved.</li>
				</ul>
			</div><!-- /.footer-bar -->
		</div><!-- /.shell -->
	</footer><!-- /.footer -->
</div><!-- /.wrapper -->

<script type="text/html" id="departmentSummaryTemplate">
  <li class="department">
    <a href="#jobs-<%- id %>" class="department-inner">
      <h5 class="department-name"><%- name %></h5>

      <div class="department-positions"><span class="department-count"><%- jobs.length %></span><span class="department-positions-text"> Position<%- jobs.length != 1 ? 's' : '' %></span></div>
    </a>
  </li><!-- /.department -->
</script>

<script type="text/html" id="jobGroupTemplate">
  <div class="jobs-group" id="jobs-<%- id %>" data-department-name="<%- name %>">
    <h3 class="jobs-group-title"><%- name %></h3><!-- /.jobs-group-title -->

    <ul class="jobs-listings">
      <% _.each(jobs, function(job) { %>
      <li class="jobs-listing">
        <h5><a href="<%- job.absolute_url %>"><%- job.title %></a></h5>

        <p><%- job.location.name %></p>

        <a class="apply" href="<%- job.absolute_url %>">
          <span>Apply</span>

          <i class="ico-arrow-right"></i>
        </a>
      </li><!-- /.jobs-listing -->
      <% }) %>
    </ul><!-- /.jobs-listings -->
  </div><!-- /.jobs-group -->
</script>          

</body>
</html>

